# Unless otherwise noted, all units are standard unit, i.e. distances
# are in meters, latitudes and longitudes in degrees, times in seconds
# and frequencies in hertz, etc...
# Sections and keys that are commented out are optional (have a default)
# while sections and keys that are not commented out are mandatory.

[general]
# Instance ID (universally unique)
instance-id = ID

# Frequency to send ITS messages
report-freq = FREQ

[broker.main]
# There are two way to connect to the MQTT broker:
# - TCP/IP: set host and port, and not socket-path
# - a UNIX socket: set socket-path, not host and port
# Hostname or IP of the MQTT broker to connect to
host = HOSTNAME
# Port of the MQTT broker; default: 1883
# port = PORT
# Path of the UNIX socket
# socket-path = PATH

# Username and password to authenticate with against the broker;
# leave username empty or unset for no authentication, and leave
# password empty or unset for no password.
# username = USERNAME
# password = PASSWORD

# Client ID to connect as; default: general:instance_id
# client-id = ID

[gpsd]
# Host and port gpsd listens on; defaults: 127.0.0.1, 2947
# host = HOST
# port = PORT
# How long to keep the last measurement when no new one comes (e.g. when
# in a tunnel...); default: 2.0
# persistence = SEC
# Type of heuristic to gather messages, either "order" or "timestamp";
#   "order" is almost always the most sensible (see code), default: "order"
# heuristic = TYPE
