# Sample configuration file
[generic]
id = string  # The ID of the device, must be unique across the fleet/world
timestamp_collect = true  # or false, the default; whether to include precise timing of the collect step

[stdout]
enabled = true  # or false, the default

[mqtt]
enabled = false  # or true, the default
host = HOSTNAME  # hostname or IP of the MQTT broker to connect to; default: 127.0.0.1
port = 1234  # port of the MQTT broker; default: 1883
client_id = its-status  # The MQTT client ID to use; default: its-status
topic = status/system  # The topic on which to post the status; default: system/status
