name: Docker

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  its_client_job:
    runs-on: ubuntu-latest
    name: Run the its client container
    steps:
      - name: Checkout its-client action
        uses: actions/checkout@v2
        with:
          persist-credentials: false
          path: .
      - name: Extract branch name
        id: extract_branch
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
      - name: Run Rust docker action
        uses: ./rust
        id: rust_run
        with:
          log_output: '/tmp'
      # Use the output from the `hello` step
      - name: Get the return code
        run: echo "The return code was ${{ steps.rust_run.outputs.return_code }} on ${{ steps.extract_branch.outputs.branch }}"
      - name: Run Python docker action
        uses: ./python
        id: python_run
        with:
          log_output: '/tmp'
      # Use the output from the `hello` step
      - name: Get the return code
        run: echo "The return code was ${{ steps.python_run.outputs.return_code }} on ${{ steps.extract_branch.outputs.branch }}"
