name: Swift ITSClient

on:
  push:
    branches:
      - main
      - develop
      - 'swift-*'

  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    runs-on: macos-26
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Xcode 26
        run: |
          sudo xcode-select -s /Applications/Xcode_26.1.app/Contents/Developer

      - name: Build
        run: |
          cd swift/ITSClient
          swift build
          cd ..
          xcrun simctl list
          xcodebuild -workspace ITSClient.xcworkspace -scheme SampleApp -destination "name=iPhone 17"

  test:
    runs-on: macos-26
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Xcode 26
        run: |
          sudo xcode-select -s /Applications/Xcode_26.1.app/Contents/Developer

      - name: Build
        run: |
          cd swift
          xcrun simctl list
          xcodebuild -workspace ITSClient.xcworkspace -scheme ITSMobilityTests test -testPlan ITSClient-UnitTests -destination "name=iPhone 17"
