name: Swift ITSClient

on:
  push:
    branches:
      - master
      - develop
      - 'swift-*'
    tags:
      - '*'

  pull_request:
    types:
      - opened
      - synchronize
      - reopened

jobs:
  build:
    runs-on: macos-15
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Xcode 16
        run: |
          sudo xcode-select -s /Applications/Xcode_16.3.app/Contents/Developer

      - name: Build
        run: |
          cd swift/ITSClient
          swift build
          cd ..
          xcrun simctl list
          xcodebuild -workspace ITSClient.xcworkspace -scheme SampleApp -destination "name=iPhone 16"

  test:
    runs-on: macos-15
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Xcode 16
        run: |
          sudo xcode-select -s /Applications/Xcode_16.3.app/Contents/Developer

      - name: Build
        run: |
          cd swift
          xcrun simctl list
          xcodebuild -workspace ITSClient.xcworkspace -scheme ITSMobilityTests test -testPlan ITSClient-UnitTests -destination "name=iPhone 16"
